$primary_color: #212121;
$secondary_color: #9A9A9A;
$accent_color_light: #1978cc;
$accent_color_dark: #005cb2;

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    color: $primary_color;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-right: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $secondary_color;
    white-space: nowrap;

    &__name {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px $primary_color;
    }
    
    &__job {
        font-size: 2rem;
        font-weight: 300;
    }
    
    &__avatar {
        height: 15rem;
        width: 15rem;
        border: 2px solid $secondary_color;
        border-radius: 50%;
    }
}

.main {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.category {
    &__title {
        font-size: 2rem;
    }

    &__content {
        margin: 0.5rem 0 0 0;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__listitem {
        font-size: 1.25rem;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        color: $accent_color_light;
        text-decoration: none;
    }

    &__link:hover {
        color: $accent_color_dark;
    }

    &__icon {
        margin-right: 0.25rem;
        height: 1.25rem;
        width: 1.25rem;
    }
}


/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1199.98px) {
    .main {
        grid-template-columns: 1fr;
    }
}
  
/* 768px - 992px */
@media screen and (max-width: 991.98px) {
    body {
        flex-direction: column;
    }

    .header {
        margin: 0;
        padding: 0;
        border: none;
    }
}
  
/* 320px - 576px */
@media screen and (max-width: 575.98px) {
    .header {
        &__name {
            font-size: 2rem;
        }

        &__job {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        &__avatar {
            width: 10rem;
            height: 10rem;
        }
    }

    .category {
        &__title {
            font-size: 1.5rem;
        }
    
        &__content {
            margin: 0.5rem 0 0 0;
            font-size: 1rem;
            font-weight: 500;
        }
    
        &__list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
}