body {
  /* Variables */
  /* Colors */
  --dark-red: #9f0023;
  --dark-grey: #373334;
  --light-grey: #959595;
  /* Font Weights */

  font-family: "Frank Regular", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  background: #f2f2f2;
}

body,
ul,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}



.container {
  width: auto;
  padding: 0 200px;
}

.single__container {
  width: auto;
  padding: 0 518px 0 0;
}

.header {
  padding-top: 52px;
}

.header-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header-ul {
  padding-top: 59px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
}

.header-ul-li {
  display: inline;
  align-items: center;
}

.header-ul-li a:hover {
  color: var(--dark-red);
  transition: 0.5s ease-in-out;
}

.button-offernews {
  width: 220px;
  height: 46px;
  border: 2px solid var(--dark-red);
  font-family: 'Frank Medium', sans-serif;
  border-radius: 100px;
  color: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number {
  display: flex;
  font-family: 'Frank Bold', sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.menu-list li {
  padding-right: 48px;
}

.subscribe-us {
  display: flex;
  justify-content: flex-end;
}
.subscribe-us-p {
  display: inline-flex;
}

.header-line {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 4px solid var(--dark-grey);
  height: 4px;
  width: 100%;
}

.h1 {
  padding-top: 55px;
  line-height: 88px;
  font-size: 70px;
  font-family: 'Frank Bold', sans-serif;
  color: var(--dark-grey);
}

.news__single__title {
  padding-top: 52px;
  font-size: 52px;
  line-height: 53.25px;
}

.h2 {
  padding-top: 5px;
  line-height: 22px;
  font-size: 16px;
  font-family: 'Frank Regular', sans-serif;
  color: var(--light-grey);
}

.news__single__subtitle {
  padding-top: 16px;
}

.news-select-grid {
  padding-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.news-grid {
  padding-top: 83px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 83px;
}

.select {
  height: 56px;
  border: 2px solid var(--dark-grey);
  font-family: 'Frank Regular', sans-serif;
  font-size: 16px;
  padding-top: auto;
  padding-left: 24px;
}

.select {
  line-height: 1;
  background: url('../img/icons/arrow.png') no-repeat right;
  -webkit-appearance: none;
  background-position-x: calc(100% - 26px);
}

.select:focus {
  outline: 0;
}

.select__date {
  height: 52px;
  padding-left: 0px;
}

input[type="date"] {
  display: inline-grid;
  grid-template-columns: 64px auto;
  grid-template-areas: "A B";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url('../img/icons/calendar.png') no-repeat;
  grid-area: A;
}

input[type="date"]::-webkit-datetime-edit {
  grid-area: B;
}

.post-image {
  height: 264px;
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 75.19%,
    rgba(0, 0, 0, 0.53) 100%
  ); */
}

.post-ul {
  padding-top: 35px;
  line-height: 22px;
}

.post-li,
.post-li-date {
  display: inline;
}

.post-li {
  padding-right: 20px;
  font-weight: regular;
  color: var(--dark-red);
}

.post-li-date {
  padding-left: 11px;
  color: var(--light-grey);
}

.post-h2 {
  padding-top: 12px;
  line-height: 27px;
  font-size: 20px;
  font-family: 'Frank Medium', sans-serif;
  color: var(--dark-grey);
}

.post-content {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
}

.post-arrow-link {
  padding-top: 46px;
}

.main-post {
  margin-top: 85px;
  width: auto;
  height: 359px;
  background: #fff;
}

.main-post-container {
  padding: 48px 49px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}

.main-post-content {
  display: grid;
  grid-template-rows: 0.5fr 3fr 3fr;
}

.main-post__title {
  padding-top: 23px;
  line-height: 27px;
  font-size: 20px;
  font-family: 'Frank Medium', sans-serif;
  color: var(--dark-grey);
}

.main-post-image {
  padding-right: 51px;
}

.main-post-p {
  font-family: 'Frank Light', sans-serif;
  line-height: 26px;
  font-weight: 300;
  align-self: end;
}

.main-post-arrow-link {
  display: inline-grid;
  justify-content: end;
  align-items: end;
}

.pagination {
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: bold;
  text-align: center;
}

.pagination-li {
  display: inline;
  padding: 0 10px;
}

.pagination-li_current {
  padding-right: 0;
}

.pagination-li_next {
  padding-left: 4px;
}

.pagination-li_current::after {
  position: relative;
  left: -12px;
  bottom: -5px;
  content: url('../img/icons/cur_page.png');
}

.pagination-pages {
  display: inline;
  padding: 0 12px;
}

.footer {
  padding-top: 70px;
  background: white;
}

.footer-subscribe-us {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.footer-subscribe-us-ul {
  padding-bottom: 52px;
  border-bottom: 2px solid var(--dark-grey);  
}

.footer-subscribe-us-li {
  display: inline;
  padding-right: 20px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-copyright {
  padding-top: 47px;
  padding-bottom: 49px;
  line-height: 24px;
  font-size: 14px;
}

.footer-policy {
  text-decoration: underline;
}

.xpage-logo {
  justify-self: end;
    align-self: center;
}

.comment {
  background: var(--dark-grey);
}

.comment__form {
  display: grid;
  width: 985px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "A A A" "B B B" "C C C";
  grid-column-gap: 50px;
  grid-row-gap: 36px;
}

.comment__title {
  display: block;
  padding-top: 90px;
  padding-bottom: 42px;
  font-family: "Frank Bold", sans-serif;
  font-size: 52px;
  line-height: 65px;
  color: #fff;
}

.comment__input {
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 338px;
  padding: 12px 0;
  font-family: "Frank Light", sans-serif;
  background: inherit;
  color: #fff;
}

.comment__input::placeholder {
  color: #fff;
}

.comment__input:focus {
  outline: 0;
}

.comment__input__comment {
  width: 985px;
  grid-area: B;
}

.comment__input__image__wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
}

.comment__input__image {
  display: none;
  align-self: center;
  justify-self: center;
}

.comment__input__image__label {
  font-size: 14px;
  font-family: "Frank Light", sans-serif;
  line-height: 19px;
  color: #fff;
  padding-left: 10px;
}

.comment__input__image__label::before {
  position: relative;
  bottom: -3px;
  right: 10px;
  content: url('../img/icons/clip.png');
}

.comment__button {
  width: 162px;
  height: 50px;
  margin-top: 46px;
  margin-bottom: 108px;
  border: 2px solid #fff;
  border-radius: 100px;
  background: inherit;
  font-family: "Frank Medium", sans-serif;
  color: white;
  grid-area: C;
}

.news__video__container {
  display: grid;
  width: 986px;
  height: 556px;
  background: url('../img/posts/post-2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.news__video__play {
  align-self: center;
  justify-self: center;
  opacity: 0.65;
}

.single__post-ul {
  padding-top: 75px;
  padding-bottom: 13px;
  border-bottom: 2px solid var(--dark-grey);
}

.single__post-h2 {
  padding-top: 43px;
  line-height: 27px;
}

.single__post-p {
  padding-top: 29px;
  padding-bottom: 52px;
  font-family: 'Frank Light', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.single__post-p__second {
  padding-bottom: 0;
}

.single__post-p__third {
  padding-top: 0;
}

.single__post__info {
  display: grid;
  grid-template-columns: 339px 339px 208px;
  grid-template-rows: 36px 36px;
  grid-column-gap: 50px;
  padding-bottom: 136px;
}

.single__post__info__p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Frank Light", sans-serif;
  padding-bottom: 14px;
  border-bottom: 2px solid var(--dark-grey);
}

.single__post__info__p__second {
  padding-top: 14px;
}

.single__post__info__share {
  display: inline-grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 15px;
}

.single__post__info__share__item {
  display: inline
}

.single__post__author {
  padding-top: 47px;
  font-family: "Frank Medium", sans-serif;
  line-height: 27px;
  font-size: 20px;
}

.single__post__author__name {
  font-size: 20px;
  line-height: 27px;
  font-family: "Frank Medium", sans-serif;
}

.single__post__author__about {
  font-family: "Frank Light", sans-serif;
  color: var(--light-grey);
  font-size: 14px;
  line-height: 19px;
}

.single__post__breakline {
  margin: 48px 0;
  border-bottom: 2px solid var(--dark-grey);  
}

